*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
    overflow: hidden;
}
.gcont{
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
}
.teddy{
    background-image: url(bunny.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 193px;
    height: 192px;
    position: absolute;
    bottom: 0px;
    left: 50px;
}
.obst{
    width: 100px;
    height: 153px;
    background-image: url(cactus-png-27.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}
.gOver{
    position: relative;
    top: 19px;
    font-size: 53px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#scorecot{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    right: 23px;
    top: 23px;
    border: 2px solid rgb(244, 8, 8);
    padding: 10px;
}
.obsani{
    animation: obsani 5s linear infinite;
}
.animateit{
    animation: teddy 0.9s linear;
}
@keyframes teddy{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 430px;
    }
    100%{
        bottom: 0;

    }
}
@keyframes obsani{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}

